@model ECommerce.Web.Models.Category
@{
  ViewData["Title"] = "Edit Category";
}
<h1>Edit Category</h1>
<div class="card">
  <form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label>Name</label>
    <input class="input" name="Name" value="@Model.Name" required />
    <label style="margin-top:10px;">Slug</label>
    <input class="input" name="Slug" value="@Model.Slug" required />
    <button class="btn primary" type="submit" style="margin-top:12px;">Save</button>
  </form>
</div>
